.card {
    min-height:100px;
}

.card-body {
    padding: 2rem; 
}

.side-navbar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 100;
}

.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
}

.main-content {
    margin-left: 250px; 
    margin-top: 56px;
    padding: 40px;
}

.module-header {
    margin-top: 30px;
}

.vcontent {
    margin-left: 150px;
    padding-top: 50px; 
  }

.progress {
    margin-left:15vw;
    margin-top: 20px;
    width:80vw;
}

#v-content {
    opacity: 1;
    transition: opacity 0.5s ease;;
}

#v-content2 {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;;
}

#v-content3 {
    display:none;
    transition-duration: 1s;
}

canvas {
    border: 1px solid black;
    border-radius: 10px; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); 
}

input[type=range] {
    writing-mode: vertical-lr;
    direction: rtl;
    vertical-align: middle;
}
